body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #ffcece;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
  }

  .form-container h2 {
    text-align: center;
    text-shadow: #666;
    text-decoration: underline;
    color: #000000;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #666;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group input[type="password"],
  .form-group input[type="tel"] {
    width: 86%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .form-group a {
    padding: 9px;
    background-color: #0056b3;
    color:#f4f4f4;
    border-radius: 5px;
    text-decoration: none;
    width: auto;

  }